.card{
   text-align: center;
   font-size: 50px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
.about{
    text-align: center;
   font-size: 30px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about:hover{
    color: blueviolet;
}

.contact{
    text-align: center;
   font-size: 30px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contact:hover{
    color:blueviolet;
}